In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import random

In [2]:
url = "https://github.com/zhiwehu/Python-programming-exercises/blob/master/100%2B%20Python%20challenging%20programming%20exercises.txt"
res = requests.get(url)
soup = BeautifulSoup(res.text, "html.parser")
pset = pd.read_html(url)

In [3]:
pset = pset[0]

In [4]:
pset.head()

    0                                                  1
0 NaN      100+ Python challenging programming exercises
1 NaN                                                NaN
2 NaN                              1.\tLevel description
3 NaN                                 Level\tDescription
4 NaN  Level 1\tBeginner means someone who has just g...

In [5]:
pset.drop(0, axis=1, inplace=True)
pset.columns = ["text"]

In [6]:
pset.head()

                                                text
0      100+ Python challenging programming exercises
1                                                NaN
2                              1.\tLevel description
3                                 Level\tDescription
4  Level 1\tBeginner means someone who has just g...

In [7]:
pset_index = pset[pset.text=="#----------------------------------------#"].index
pset_index

Int64Index([  10,   17,   36,   38,   61,   63,   85,   87,  109,  111,
            ...
            2169, 2185, 2201, 2224, 2253, 2285, 2309, 2332, 2348, 2372],
           dtype='int64', length=127)

In [8]:
pset.loc[17:36]

                                                 text
17         #----------------------------------------#
18                                         Question 1
19                                            Level 1
20                                                NaN
21                                          Question:
22  Write a program which will find all such numbe...
23             between 2000 and 3200 (both included).
24  The numbers obtained should be printed in a co...
25                                                NaN
26                                             Hints:
27            Consider use range(#begin, #end) method
28                                                NaN
29                                          Solution:
30                                               l=[]
31                        for i in range(2000, 3201):
32                          if (i%7==0) and (i%5!=0):
33                                   l.append(str(i))
34                                                NaN
35                                  print ','.join(l)
36         #----------------------------------------#

In [9]:
pset.loc[17:36].get_values()

array([['#----------------------------------------#'],
       ['Question 1'],
       ['Level 1'],
       [nan],
       ['Question:'],
       ['Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,'],
       ['between 2000 and 3200 (both included).'],
       ['The numbers obtained should be printed in a comma-separated sequence on a single line.'],
       [nan],
       ['Hints:'],
       ['Consider use range(#begin, #end) method'],
       [nan],
       ['Solution:'],
       ['l=[]'],
       ['for i in range(2000, 3201):'],
       ['if (i%7==0) and (i%5!=0):'],
       ['l.append(str(i))'],
       [nan],
       ["print ','.join(l)"],
       ['#----------------------------------------#']], dtype=object)

In [10]:
q = []
for i in range(len(pset_index) - 1):
    q.append(pset.loc[pset_index[i]:pset_index[i+1]].get_values())

In [11]:
for x in q[1]:
    print(x[0])

#----------------------------------------#
Question 1
Level 1
nan
Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.
nan
Hints:
Consider use range(#begin, #end) method
nan
Solution:
l=[]
for i in range(2000, 3201):
if (i%7==0) and (i%5!=0):
l.append(str(i))
nan
print ','.join(l)
#----------------------------------------#

In [21]:
for x in q[random.randint(0,len(q)-1)]:
    
    # Strings can't be tested by np.isnan(). It has an alternative way to check NaN.
    if str(x) == "[nan]":
        print("")
    else:
        print(x[0])

#----------------------------------------#

Question:

Please write a program which accepts a string from console and print the characters that have even indexes.

Example:
If the following string is given as input to the program:

H1e2l3l4o5w6o7r8l9d

Then, the output of the program should be:

Helloworld

Hints:
Use list[::2] to iterate a list by step 2.

Solution:

s=raw_input()
s = s[::2]
print s
#----------------------------------------#