In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://rate.bot.com.tw/xrt?Lang=zh-TW'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [3]:
time = soup.find('span', attrs={'class':'time'}).text
time

'2019/01/30 16:01'

In [4]:
exchange = pd.read_html(url)

In [5]:
type(exchange)

list

In [6]:
df = exchange[0]

In [7]:
df.columns

MultiIndex(levels=[['Unnamed: 10_level_0', 'Unnamed: 12_level_0', 'Unnamed: 3_level_0', 'Unnamed: 5_level_0', '即期匯率', '幣別', '歷史匯率', '現金匯率', '遠期匯率'], ['Unnamed: 0_level_1', 'Unnamed: 10_level_1', 'Unnamed: 11_level_1', 'Unnamed: 12_level_1', 'Unnamed: 5_level_1', '本行買入', '本行賣出', '本行賣出.1']],
           labels=[[5, 5, 7, 2, 4, 3, 8, 6, 6, 7, 0, 4, 1], [0, 5, 6, 5, 6, 4, 5, 6, 5, 7, 1, 2, 3]])

In [8]:
df.head()

                       幣別          現金匯率 Unnamed: 3_level_0   即期匯率  \
       Unnamed: 0_level_1   本行買入   本行賣出               本行買入   本行賣出
0      美金 (USD)  美金 (USD)  30.34  31.03              30.71  30.81
1      港幣 (HKD)  港幣 (HKD)  3.755  3.971              3.891  3.951
2      英鎊 (GBP)  英鎊 (GBP)  39.02  41.14              40.02  40.44
3      澳幣 (AUD)  澳幣 (AUD)  21.75  22.53              22.02  22.25
4  加拿大幣 (CAD)  加拿大幣 (CAD)  22.72  23.63              23.11  23.33

  Unnamed: 5_level_0 遠期匯率   歷史匯率          現金匯率 Unnamed: 10_level_0  \
  Unnamed: 5_level_1 本行買入   本行賣出   本行買入 本行賣出.1 Unnamed: 10_level_1
0                 查詢   查詢  30.34  31.03  30.71               30.81
1                 查詢   查詢  3.755  3.971  3.891               3.951
2                 查詢   查詢  39.02  41.14  40.02               40.44
3                 查詢   查詢  21.75  22.53  22.02               22.25
4                 查詢   查詢  22.72  23.63  23.11               23.33

                 即期匯率 Unnamed: 12_level_0
  Unnamed: 11_level_1 Unnamed: 12_level_1
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

In [9]:
er = df.loc[:,['幣別', '現金匯率', '即期匯率']]
er

                        幣別              現金匯率    即期匯率    現金匯率  \
        Unnamed: 0_level_1     本行買入     本行賣出    本行賣出  本行賣出.1
0       美金 (USD)  美金 (USD)    30.34    31.03   30.81   30.71
1       港幣 (HKD)  港幣 (HKD)    3.755    3.971   3.951   3.891
2       英鎊 (GBP)  英鎊 (GBP)    39.02    41.14   40.44   40.02
3       澳幣 (AUD)  澳幣 (AUD)    21.75    22.53   22.25   22.02
4   加拿大幣 (CAD)  加拿大幣 (CAD)    22.72    23.63   23.33   23.11
5   新加坡幣 (SGD)  新加坡幣 (SGD)    22.18    23.09   22.85   22.67
6   瑞士法郎 (CHF)  瑞士法郎 (CHF)    30.06    31.26   31.01   30.72
7       日圓 (JPY)  日圓 (JPY)   0.2721   0.2849  0.2834  0.2794
8     南非幣 (ZAR)  南非幣 (ZAR)        -        -     2.3    2.22
9     瑞典幣 (SEK)  瑞典幣 (SEK)        3     3.52    3.44    3.34
10      紐元 (NZD)  紐元 (NZD)    20.58    21.43   21.16   20.96
11      泰幣 (THB)  泰幣 (THB)   0.8553   1.0433  1.0039  0.9639
12  菲國比索 (PHP)  菲國比索 (PHP)   0.5142   0.6472       -       -
13    印尼幣 (IDR)  印尼幣 (IDR)  0.00183  0.00253       -       -
14      歐元 (EUR)  歐元 (EUR)    34.34    35.68   35.36   34.96
15      韓元 (KRW)  韓元 (KRW)   0.0258   0.0297       -       -
16    越南盾 (VND)  越南盾 (VND)  0.00095  0.00145       -       -
17    馬來幣 (MYR)  馬來幣 (MYR)    6.393    8.023       -       -
18    人民幣 (CNY)  人民幣 (CNY)    4.472    4.634   4.594   4.544

                  即期匯率
   Unnamed: 11_level_1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN

In [10]:
er.columns = [1,2,3,4,5,6]
er

                         1        2        3       4       5   6
0       美金 (USD)  美金 (USD)    30.34    31.03   30.81   30.71 NaN
1       港幣 (HKD)  港幣 (HKD)    3.755    3.971   3.951   3.891 NaN
2       英鎊 (GBP)  英鎊 (GBP)    39.02    41.14   40.44   40.02 NaN
3       澳幣 (AUD)  澳幣 (AUD)    21.75    22.53   22.25   22.02 NaN
4   加拿大幣 (CAD)  加拿大幣 (CAD)    22.72    23.63   23.33   23.11 NaN
5   新加坡幣 (SGD)  新加坡幣 (SGD)    22.18    23.09   22.85   22.67 NaN
6   瑞士法郎 (CHF)  瑞士法郎 (CHF)    30.06    31.26   31.01   30.72 NaN
7       日圓 (JPY)  日圓 (JPY)   0.2721   0.2849  0.2834  0.2794 NaN
8     南非幣 (ZAR)  南非幣 (ZAR)        -        -     2.3    2.22 NaN
9     瑞典幣 (SEK)  瑞典幣 (SEK)        3     3.52    3.44    3.34 NaN
10      紐元 (NZD)  紐元 (NZD)    20.58    21.43   21.16   20.96 NaN
11      泰幣 (THB)  泰幣 (THB)   0.8553   1.0433  1.0039  0.9639 NaN
12  菲國比索 (PHP)  菲國比索 (PHP)   0.5142   0.6472       -       - NaN
13    印尼幣 (IDR)  印尼幣 (IDR)  0.00183  0.00253       -       - NaN
14      歐元 (EUR)  歐元 (EUR)    34.34    35.68   35.36   34.96 NaN
15      韓元 (KRW)  韓元 (KRW)   0.0258   0.0297       -       - NaN
16    越南盾 (VND)  越南盾 (VND)  0.00095  0.00145       -       - NaN
17    馬來幣 (MYR)  馬來幣 (MYR)    6.393    8.023       -       - NaN
18    人民幣 (CNY)  人民幣 (CNY)    4.472    4.634   4.594   4.544 NaN

In [11]:
er = er.drop(6,axis=1)
er

                         1        2        3       4       5
0       美金 (USD)  美金 (USD)    30.34    31.03   30.81   30.71
1       港幣 (HKD)  港幣 (HKD)    3.755    3.971   3.951   3.891
2       英鎊 (GBP)  英鎊 (GBP)    39.02    41.14   40.44   40.02
3       澳幣 (AUD)  澳幣 (AUD)    21.75    22.53   22.25   22.02
4   加拿大幣 (CAD)  加拿大幣 (CAD)    22.72    23.63   23.33   23.11
5   新加坡幣 (SGD)  新加坡幣 (SGD)    22.18    23.09   22.85   22.67
6   瑞士法郎 (CHF)  瑞士法郎 (CHF)    30.06    31.26   31.01   30.72
7       日圓 (JPY)  日圓 (JPY)   0.2721   0.2849  0.2834  0.2794
8     南非幣 (ZAR)  南非幣 (ZAR)        -        -     2.3    2.22
9     瑞典幣 (SEK)  瑞典幣 (SEK)        3     3.52    3.44    3.34
10      紐元 (NZD)  紐元 (NZD)    20.58    21.43   21.16   20.96
11      泰幣 (THB)  泰幣 (THB)   0.8553   1.0433  1.0039  0.9639
12  菲國比索 (PHP)  菲國比索 (PHP)   0.5142   0.6472       -       -
13    印尼幣 (IDR)  印尼幣 (IDR)  0.00183  0.00253       -       -
14      歐元 (EUR)  歐元 (EUR)    34.34    35.68   35.36   34.96
15      韓元 (KRW)  韓元 (KRW)   0.0258   0.0297       -       -
16    越南盾 (VND)  越南盾 (VND)  0.00095  0.00145       -       -
17    馬來幣 (MYR)  馬來幣 (MYR)    6.393    8.023       -       -
18    人民幣 (CNY)  人民幣 (CNY)    4.472    4.634   4.594   4.544

In [12]:
cols = pd.MultiIndex.from_tuples([('幣別',''), ('現金匯率', '本行買入'), ('現金匯率', '本行賣出'), ('即期匯率', '本行買入'), ('即期匯率','本行賣出')])
er.columns = cols
er

                        幣別     現金匯率             即期匯率
                               本行買入     本行賣出    本行買入    本行賣出
0       美金 (USD)  美金 (USD)    30.34    31.03   30.81   30.71
1       港幣 (HKD)  港幣 (HKD)    3.755    3.971   3.951   3.891
2       英鎊 (GBP)  英鎊 (GBP)    39.02    41.14   40.44   40.02
3       澳幣 (AUD)  澳幣 (AUD)    21.75    22.53   22.25   22.02
4   加拿大幣 (CAD)  加拿大幣 (CAD)    22.72    23.63   23.33   23.11
5   新加坡幣 (SGD)  新加坡幣 (SGD)    22.18    23.09   22.85   22.67
6   瑞士法郎 (CHF)  瑞士法郎 (CHF)    30.06    31.26   31.01   30.72
7       日圓 (JPY)  日圓 (JPY)   0.2721   0.2849  0.2834  0.2794
8     南非幣 (ZAR)  南非幣 (ZAR)        -        -     2.3    2.22
9     瑞典幣 (SEK)  瑞典幣 (SEK)        3     3.52    3.44    3.34
10      紐元 (NZD)  紐元 (NZD)    20.58    21.43   21.16   20.96
11      泰幣 (THB)  泰幣 (THB)   0.8553   1.0433  1.0039  0.9639
12  菲國比索 (PHP)  菲國比索 (PHP)   0.5142   0.6472       -       -
13    印尼幣 (IDR)  印尼幣 (IDR)  0.00183  0.00253       -       -
14      歐元 (EUR)  歐元 (EUR)    34.34    35.68   35.36   34.96
15      韓元 (KRW)  韓元 (KRW)   0.0258   0.0297       -       -
16    越南盾 (VND)  越南盾 (VND)  0.00095  0.00145       -       -
17    馬來幣 (MYR)  馬來幣 (MYR)    6.393    8.023       -       -
18    人民幣 (CNY)  人民幣 (CNY)    4.472    4.634   4.594   4.544

In [13]:
er.現金匯率.本行買入

0       30.34
1       3.755
2       39.02
3       21.75
4       22.72
5       22.18
6       30.06
7      0.2721
8           -
9           3
10      20.58
11     0.8553
12     0.5142
13    0.00183
14      34.34
15     0.0258
16    0.00095
17      6.393
18      4.472
Name: 本行買入, dtype: object

In [14]:
cols_test = pd.MultiIndex.from_tuples([("a", "b"), ("a", "c"), ('d','')])
df_test = pd.DataFrame([[1,2,3],[3,4,5]], columns=cols_test)
df_test

   a     d
   b  c
0  1  2  3
1  3  4  5

In [15]:
df_test.a.b

0    1
1    3
Name: b, dtype: int64